<launch>

  <arg name="tf_map_scanmatch_transform_frame_name" default="scanmatcher_frame"/>
  <arg name="drone_name" default=""/>
  <arg name="pub_map_odom_transform" default="true"/>
  <arg name="scan_subscriber_queue_size" default="5"/>
  <arg name="map_size" default="1024"/> <!-- 128/256/512 -->

  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">

    <!-- Frame names -->
    <param name="map_frame"  value="$(arg drone_name)/map" />
    <param name="base_frame" value="$(arg drone_name)/base_footprint" />
    <param name="odom_frame" value="$(arg drone_name)/world" />

    <!-- Tf use -->
    <param name="use_tf_scan_transformation" value="true"/>
    <param name="use_tf_pose_start_estimate" value="true"/>
    <param name="pub_map_odom_transform" value="$(arg pub_map_odom_transform)"/>
    <param name="pub_odometry" value="true"/>

    <!-- Map size / start point -->
    <param name="map_resolution" value="0.05"/>
    <param name="map_size" value="$(arg map_size)"/>
    <param name="map_start_x" value="0.5"/>
    <param name="map_start_y" value="0.5" />
    <param name="map_multi_res_levels" value="2" />

    <!-- Map update parameters -->
    <param name="update_factor_free" value="0.4"/>
    <param name="update_factor_occupied" value="0.9" />
    <param name="map_update_distance_thresh" value="0.2"/>
    <param name="map_update_angle_thresh" value="0.06" />
    <param name="laser_z_min_value" value = "-1.0" />
    <param name="laser_z_max_value" value = "1.0" />

    <!-- Advertising config -->
    <param name="advertise_map_service" value="true"/>

    <param name="scan_subscriber_queue_size" value="$(arg scan_subscriber_queue_size)"/>
    <param name="scan_topic" value="scan"/>

    <!-- Debug parameters -->
    <!--<param name="output_timing" value="false"/>
    <param name="pub_drawings" value="true"/>
    <param name="pub_debug_output" value="true"/>-->

    <param name="tf_map_scanmatch_transform_frame_name" value="$(arg drone_name)/$(arg tf_map_scanmatch_transform_frame_name)" />

    <remap from="/$(arg drone_name)/poseupdate" to="/$(arg drone_name)/initialpose" />

  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 $(arg drone_name)/map $(arg drone_name)/world 10"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 $(arg drone_name)/base_footprint $(arg drone_name)/laser0_frame 10"/>
  -->
</launch>
