<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hector_gazebo_worlds)/worlds/willow_garage.world"/> <!--$(find turtlebot3_gazebo)/worlds/turtlebot3_world/house.world-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- include our drones -->
  <include file="$(find multi_drone)/launch/drones.launch"/>

</launch>
